/* .banner{
    font-family: 'Montserrat', sans-serif;
    background:url('https://i.ibb.co/JB1y0X5/4690.jpg') ,
    linear-gradient(rgba(65, 60, 60, 0.1),rgba(181, 149, 149, 0.6));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    width: 100vw;
  }
 */
